# environment files
infrastructure/.env.*

# data & mounts
data/
!.devcontainer/data/
.devcontainer/data/postgres/
!.devcontainer/data/postgres/.gitkeep
.devcontainer/mounts/
!.devcontainer/mounts/.gitkeep

# apps
apps/
!apps/.gitkeep